<template class="panel-template">
	<style>
		:host {
			display: block;
		}
	</style>
	<div role="tabpanel">
		<slot></slot>
	</div>
</template>
<template class="tabs-template">
	<style>
		:host {
			display: flex;
			flex-direction: column;
			--tabs-bg-color: #E6E6E6;
		}
		:host([position=bottom]) ul {
			order: 1;
		}
		:host([position=left], [position=right]) {
			flex-direction: row;
		}
		:host([position=right]) ul {
			order: 1;
		}
		ul {
			list-style-type: none;
			display: flex;
			margin: 0;
			padding: 0;
		}
		li {
			flex: inherit;
			color: inherit;
		}
		li, li button {
			cursor: pointer;
		}
		li button {
			font: inherit;
			border: none;
			background-color: transparent;
			-webkit-appearance: none;
			padding: .5em 1em;
		}
		li button:focus {
			outline: none;
		}
		li.active {
			background: var(--tabs-bg-color);
		}
		li:not(.active) {
			border-bottom: 1px solid var(--tabs-bg-color);
		}
	</style>
	<ul role="tablist"></ul>
	<div>
		<slot></slot>
	</div>
</template>
<template class="tab-template">
	<li role="tab">
		<button></button>
	</li>
</template>

<script>
	(function() {
		let doc = (document._currentScript || document.currentScript).ownerDocument;
		let tabsTemplate = doc.querySelector('.tabs-template');
		let tabTemplate = doc.querySelector('.tab-template');
		let panelTemplate = doc.querySelector('.panel-template');

		class SUTabs extends HTMLElement {
			constructor() {
				super();
				this.attachShadow({mode: 'open'});
				this.selected = null;
				this.tabMap = new WeakMap();
				this.panelMap = new WeakMap(); //panel
				this.displayMap = new WeakMap(); //display map
				this._rendered = false;
				this.mutationObserver = null;
			}

			connectedCallback() {
				if (!this._rendered) {
					this.shadowRoot.appendChild(
						document.importNode(tabsTemplate.content, true)
					);
					this._rendered = true;
				}
				this.makeTabsFromPanels();
				this.shadowRoot.querySelector('ul').addEventListener('click', this);
				if (!this.mutationObserver) {
					this.mutationObserver = new MutationObserver(this.handleMutations.bind(this));
					this.mutationObserver.observe(this, {childList: true});
				}
			}

			disconnectedCallback() {
				this.shadowRoot.querySelector('ul').removeEventListener('click', this);
			}

			handleEvent(ev) {
				if (ev.target.tagName === 'BUTTON') {
					this.setTabStatus(ev.target.parentNode);
				}
			}

			makeTabsFromPanels() {
				let ul = this.shadowRoot.querySelector('ul');
				let panels = this.querySelectorAll('su-panel');

				[].forEach.call(panels, function (panel, index) {
					console.log(index);

					let tab = this.makeTab(panel);
					ul.appendChild(tab);
					this.tabMap.set(tab, panel);
					this.panelMap.set(panel, tab);
					if (index === 0) {
						this.makeActive(tab);
					} else {
						panel.style.display = 'none';
					}
				}.bind(this));
			}

			handleMutations(mutations) {
				let suTabs = this;
				let handlers = [];
				mutations.forEach(function (mutationRecord) {
					mutationRecord.addedNodes.forEach.call(mutationRecord.addedNodes, function (node) {
						if (node.nodeType === 1)
							handlers.push(['add', node]);
					});
					forEach.call(mutationRecord.removedNodes, function (node) {
						if (node.nodeType === 1)
							handlers.push(['remove', node]);
					});
				});
				if (handlers.length) {
					requestAnimationFrame(function () {
						let ul = suTabs.shadowRoot.querySelector('ul');
						handlers.forEach(function (notes) {
							let action = notes[0];
							let panel = notes[1];
							let tab;
							if (action === 'add') {
								tab = suTabs.makeTab(panel);
								suTabs.tabMap.set(tab, panel);
								suTabs.panelMap.set(panel, tab);
								suTabs.makeInactive(tab);
								ul.appendChild(tab);
							} else {
								tab = suTabs.panelMap.get(panel);
								tab.parentNode.removeChild(tab);
								suTabs.panelMap.delete(panel);
								suTabs.tabMap.delete(tab);
								suTabs.displayMap.delete(tab);
							}
						});
					});
				}
			}

			handleTitle(panel, title) {
				let tab = this.panelMap.get(panel);
				let btn = tab.firstElementChild;
				btn.textContent = title;
			}

			makeTab(suPanel) {
				let frag = document.importNode(tabTemplate.content, true);
				let tab = frag.firstElementChild;
				let button = tab.firstElementChild;
				button.textContent = suPanel.getAttribute('title');
				this.displayMap.set(suPanel, suPanel.style.display);
				return tab;
			}

			makeActive(tab) {
				tab.classList.add('active');
				let panel = this.tabMap.get(tab);
				let naturalDisplay = this.displayMap.get(panel);
				console.log('NaturalDisplay');
				console.log(panel);
				panel.style.display = naturalDisplay;
			}

			makeInactive(tab) {
				tab.classList.remove('active');
				let panel = this.tabMap.get(tab);
				panel.style.display = 'none';
			}

			setTabStatus(active) {
				if (active === this.selected) return;
				this.selected = active;
				let tabs = this.shadowRoot.querySelector('ul').children;
				[].forEach.call(tabs, function (tab) {
					let fn = active === tab ? this.makeActive : this.makeInactive;
					fn.call(this, tab);
				}.bind(this));
			}

			get position() {
				return this.getAttribute("position") || "top";
			}

			set position(position) {
				this.setAttribute("position", position);
			}
		}

		class SUPanel extends HTMLElement {
			constructor() {
				super();
				this.attachShadow({mode: 'open'});
				this._rendered = false;
			}

			//Вызывается, когда элемент вставлен в документ, в том числе в теневое дерево
			connectedCallback() {
				if (!this._rendered) {
					this.shadowRoot.appendChild(
						document.importNode(panelTemplate.content, true)
					);
					this._rendered = true;
				}
			}

			attributeChangedCallback(attributeName, oldValue, newValue) {
				if (attributeName === 'title') {
					this.informParentTabs(newValue);
				}
			}

			get title() {
				return this.getAttribute('title');
			}

			set title(title) {
				this.setAttribute('title', title);
				this.informParentTabs(title);
			}

			informParentTabs(title) {
				let parent = this.parentNode;
				if (parent && parent.nodeName === 'SU-TABS') {
					parent.handleTitle(this, title);
				}
			}
		}

		customElements.define('su-tabs', SUTabs);
		customElements.define('su-panel', SUPanel);
	})();
</script>